@charset "UTF-8";
body {
  padding: 2em;
}

.width {
  max-width: 1280px;
}

.fontstyle {
  font-family: "DM Sans";
}

.fontweight4 {
  font-weight: 400;
}

.photographers__banner {
  height: 22em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FAFAFA;
}

.photographers__details {
  padding-left: 1em;
}

.photographers__details--name {
  height: 1em;
  color: #D3573C;
  font-size: 64px;
}

.photographers__details--location {
  color: #901C1C;
  font-size: 24px;
}

.photographers__details--skills {
  color: #525252;
  font-size: 18px;
}

.photographers__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photographers__nav--link {
  text-decoration: none;
  color: #901C1C;
  margin-right: 1em;
  border: solid 0.5px #C4C4C4;
  border-radius: 2em;
}

.photographers__nav--tag {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 18px;
}

.photographers__button {
  padding-top: 2em;
}

.photographers__button--submit {
  height: 3.5em;
  width: 10em;
  color: white;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  margin-top: 1em;
  font-weight: 700;
  font-size: 20px;
}

.photographers__picture {
  padding-top: 1.2em;
}

.photographers__picture--size {
  height: 15em;
  width: 15em;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1em;
  margin-right: 4em;
}

/* Menu déroulant */
* {
  padding: 0em;
}

.menu {
  font-style: "DM Sans";
  font-size: 1.1em;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  position: relative;
  float: left;
  width: 10%;
}

.menu li a {
  margin-left: 1em;
}

.menu__nav {
  text-decoration: none;
  list-style: none;
  margin-left: 2em;
  width: 7em;
  height: 3em;
  background-color: #901C1C;
  border-radius: 0.3em;
}

.menu__nav a {
  text-decoration: none;
}

.menu__nav--main {
  margin-top: 1.5em;
  color: white;
  vertical-align: middle;
}

.menu__nav--scrolling {
  list-style-type: none;
  text-align: center;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.menu__nav--scrolling li {
  background-color: #901C1C;
  float: none;
  text-align: left;
  width: 100%;
}

.menu__nav--scrolling a {
  color: white;
  text-decoration: none;
}

nav > li:hover .menu__nav--scrolling {
  display: block;
}

.border--top {
  height: 0.5em;
  width: 100%;
  background-color: white;
}

.menu__bottom {
  border-radius: 0 0 0.3em 0.3em;
}

/* Fin menu déroulant */
.content {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1em;
}

.content__vignettes {
  width: 26%;
}

.content__vignettes--pictures {
  -o-object-fit: cover;
     object-fit: cover;
  height: 18em;
  width: 100%;
  border-radius: 0.2em;
}

.content__describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__describe--text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 1.4em;
  color: #901C1C;
}

.content__describe--button {
  height: 100%;
  background-color: white;
  border: none;
  color: #901C1C;
  font-weight: 500;
  font-family: "DM Sans";
}

/* Début reponsive */
@media screen and (max-width: 375px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photographers__button {
    position: fixed;
    z-index: 500;
    top: 30em;
    width: 50%;
    border-radius: 1em;
    left: 12%;
  }
  .photographers__button--submit {
    height: 2.5em;
  }
  .photographers__details--name {
    font-size: 30px;
  }
  .photographers__picture {
    width: 30%;
  }
  .photographers__picture--size {
    height: 7em;
    width: 7em;
  }
}

.wrappermodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.modal {
  position: relative;
  margin: 5% auto;
  height: 520px;
  width: 380px;
  background-color: #DB8876;
  border-radius: 5px;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: var(--modal-duration);
          animation-duration: var(--modal-duration);
  overflow: hidden;
}

.modal--contactname {
  margin-left: 1em;
  font-size: 1.5em;
  margin-bottom: -0.05em;
  color: #312E2E;
}

.modal--close {
  position: absolute;
  left: 21.3em;
  width: 2em;
  height: 2em;
}

.modal--close:before {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.modal--close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.modal--close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal--close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__contact--pos {
  margin-top: 0.7em;
  margin-left: 1.5em;
}

.modal__contact--textarea {
  width: 25em;
  height: 2em;
  color: #312E2E;
  border: none;
  border-radius: 5px;
}

.modal__contact--textareamsg {
  width: 25em;
  height: 7em;
  border: none;
  border-radius: 5px;
}

.modal__contact--btnsubmit {
  height: 3em;
  width: 7em;
  color: white;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  margin-top: 1.5em;
}

.messageErreur {
  font-size: 0.9rem;
  font-style: bold;
  color: white;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

body {
  min-width: 300px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner--logo {
  width: 15em;
}

.banner--title {
  color: #901C1C;
}

.banner__navigation--link {
  text-decoration: none;
  color: #901C1C;
  margin-right: 1em;
  margin-bottom: 0.5em;
  height: 1.3em;
  border: solid 0.5px #C4C4C4;
  border-radius: 2em;
}

.banner__navigation--link:hover {
  background-color: #DB8876;
}

.banner__navigation--tag {
  text-transform: capitalize;
  border-radius: 2em;
}

.photographers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5em;
}

.photographers--redirect {
  height: 1.5em;
  width: 10em;
  border-radius: 0.5em;
  background-color: #DB8876;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0.5em;
  left: calc((100% - 10em) / 2);
  font-size: 1em;
  font-weight: bold;
  color: black;
  z-index: 500;
}

.photographers__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
}

.photographers__line--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 6em;
}

.photographers__line--profilelink {
  text-decoration: none;
  border-radius: 50%;
  width: 400px;
}

.photographers__line--pictures {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photographers__line--name {
  margin-bottom: 0em;
  color: #D3573C;
  font-family: "DM Sans";
  font-weight: 400;
}

.photographers__line--location {
  color: #901C1C;
}

.photographers__line--skills {
  color: black;
}

.photographers__line--price {
  color: #525252;
}

.margin--details {
  margin-bottom: 0em;
}

.photographerstag {
  margin-top: 0.5em;
}

.photographerstag__link {
  text-transform: capitalize;
  text-decoration: none;
  color: #901C1C;
  margin-right: 1em;
  width: 5em;
  border: solid 0.5px #C4C4C4;
  border-radius: 2em;
}

.photographerstag__link:hover {
  background-color: #DB8876;
}

@media screen and (max-width: 375px) {
  body {
    padding: 0em;
  }
  .photographers__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .photographers__line--profile {
    text-align: center;
  }
  .photographers--redirect {
    display: none;
  }
  .banner__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3em;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .banner--logo {
    position: absolute;
    top: 0.5em;
    left: 0em;
    width: 35%;
    margin-left: 1.5em;
  }
  .banner--title {
    position: absolute;
    top: 0em;
    right: 1.5em;
    font-size: 1em;
  }
}

@media screen and (max-width: 881px) {
  .photographers__line {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 300px) {
  .banner--title {
    right: -1.5em;
  }
}
/*# sourceMappingURL=main.css.map */