@import 'photographers';
@import 'modal';
$primarybackground: #901C1C;
$primarytext: #D3573C;
$secondarybackground: #D3573C;
$secondarytext: #901C1C;
$pricetext: #525252;
$background: #FAFAFA;
$classicblack: black;
$textmodal: #312E2E;


.banner {
    &--logo {
        width: 15em;
    }
}

.photographers__line {

    display: flex;
    justify-content: space-between;
    &--profilelink {
        border-radius: 50%;
    }
    
    &--pictures {
        height: 10em;
        width: 10em;
        border-radius: 50%;
        object-fit: cover;
    }

    &--name {
        color: $primarytext
    }

    &--location {
        color: $secondarytext;
    }

    &--skills {
        color: $classicblack;
    }

    &--price {
        color: $pricetext;
    }
}