@charset "UTF-8";
body {
  padding: 2em;
}

.width {
  max-width: 1280px;
}

.fontstyle {
  font-family: "DM Sans";
}

.fontweight4 {
  font-weight: 400;
}

.photographers__banner {
  height: 22em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FAFAFA;
}

.photographers__details {
  padding-left: 1em;
}

.photographers__details--name {
  height: 1em;
  color: #D3573C;
  font-size: 64px;
}

.photographers__details--location {
  color: #901C1C;
  font-size: 24px;
}

.photographers__details--skills {
  color: #525252;
  font-size: 18px;
}

.photographers__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photographers__nav--link {
  text-decoration: none;
  color: #901C1C;
  margin-right: 1em;
  border: solid 0.5px #C4C4C4;
  border-radius: 2em;
}

.photographers__nav--tag {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 18px;
}

.photographers__button {
  cursor: pointer;
  padding-top: 2em;
}

.photographers__button--submit {
  height: 3.5em;
  width: 10em;
  color: white;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  margin-top: 1em;
  font-weight: 700;
  font-size: 20px;
}

.photographers__picture {
  padding-top: 1.2em;
}

.photographers__picture--size {
  height: 15em;
  width: 15em;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1em;
  margin-right: 4em;
}

/* Menu déroulant */
.content {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1em;
}

.content__vignettes {
  width: 26%;
}

.content__vignettes--pictures {
  -o-object-fit: cover;
     object-fit: cover;
  height: 18em;
  width: 100%;
  border-radius: 0.2em;
}

.content__describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -1.2em;
}

.content__describe--text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 1.4em;
  color: #901C1C;
}

.content__describe--price {
  font-family: "DM Sans";
  margin-top: -0.2em;
  font-weight: 400;
  font-size: 1em;
  margin-top: -0.5em;
  color: #901C1C;
}

.content__describe--button {
  height: 100%;
  background-color: white;
  border: none;
  color: #901C1C;
  font-weight: 500;
  font-family: "DM Sans";
}

.countlikes {
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 4em;
  width: 20em;
  background-color: #DB8876;
  border-radius: 0.5em 0.5em 0 0;
}

.countlikes--text {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 1.3em;
}

/* Début reponsive */
@media screen and (max-width: 375px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photographers__button {
    position: fixed;
    z-index: 500;
    top: 30em;
    width: 50%;
    border-radius: 1em;
    left: 12%;
  }
  .photographers__button--submit {
    height: 2.5em;
  }
  .photographers__details--name {
    font-size: 30px;
  }
  .photographers__picture {
    width: 30%;
  }
  .photographers__picture--size {
    height: 7em;
    width: 7em;
  }
}
/*# sourceMappingURL=photographers.css.map */