$primarybackground: #901C1C;
$primarytext: #D3573C;
$secondarybackground: #D3573C;
$secondarytext: #901C1C;
$pricetext: #525252;
$background: #FAFAFA;
$classicblack: black;
$textmodal: #312E2E;
$bordertag: #C4C4C4;
$fonts : 'DM Sans';

body {
    padding: 2em;
}

.width {
    max-width: 1280px;
}

.fontstyle {
    font-family: $fonts;
}

.fontweight4 {
    font-weight: 400;
}

.photographers__banner {
    height: 22em;
    width: 95%;
    display: flex;
    justify-content: space-between;
    background-color: $background;
}

.photographers__details {
    padding-left: 1em;

    &--name {
        height: 1em;
        color: $primarytext;
        font-size: 64px;
    }

    &--location {
        color: $secondarytext;
        font-size: 24px;
    }

    &--skills {
        color: $pricetext;
        font-size: 18px;
    }
}

.photographers__nav {
    
    display: flex;

    &--link {
        text-decoration: none;
        color: $secondarytext;
        margin-right: 1em;
        width: 5.5em;
        border: solid 0.5px $bordertag;
        border-radius: 2em;
    }

    &--tag {
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 18px;
    }
}

.photographers__button {

    padding-top: 2em;

    &--submit {
        height: 3.5em;
        width: 10em;
        color: white;
        background-color: $primarybackground;
        border: none;
        border-radius: 5px;
        margin-top: 1em;
        font-weight: 700;
        font-size: 20px;
    }
}

.photographers__picture {
    padding-top: 1.2em;
    &--size {
        height: 13em;
        width: 13em;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 1em;
        margin-right: 4em;
        }
}



