$primarybackground: #901C1C;
$primarytext: #D3573C;
$secondarybackground: #D3573C;
$secondarytext: #901C1C;
$pricetext: #525252;
$background: #FAFAFA;
$classicblack: black;
$textmodal: #312E2E;
$bordertag: #C4C4C4;
$fonts : 'DM Sans';

body {
    padding: 2em;
}

.width {
    max-width: 1280px;
}

.fontstyle {
    font-family: $fonts;
}

.fontweight4 {
    font-weight: 400;
}

.photographers__banner {
    height: 22em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $background;
}

.photographers__details {
    padding-left: 1em;

    &--name {
        height: 1em;
        color: $primarytext;
        font-size: 64px;
    }

    &--location {
        color: $secondarytext;
        font-size: 24px;
    }

    &--skills {
        color: $pricetext;
        font-size: 18px;
    }
}

.photographers__nav {
    
    display: flex;

    &--link {
        text-decoration: none;
        color: $secondarytext;
        margin-right: 1em;
        border: solid 0.5px $bordertag;
        border-radius: 2em;
    }

    &--tag {
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 18px;
    }
}

.photographers__button {

    padding-top: 2em;

    &--submit {
        height: 3.5em;
        width: 10em;
        color: white;
        background-color: $primarybackground;
        border: none;
        border-radius: 5px;
        margin-top: 1em;
        font-weight: 700;
        font-size: 20px;
    }
}

.photographers__picture {

    padding-top: 1.2em;

    &--size {
        height: 15em;
        width: 15em;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 1em;
        margin-right: 4em;
    }
}


/* Menu déroulant */

*{
    padding: 0em;
}
.menu {
    font-style: $fonts;
    font-size: 1.1em;
    font-weight: 700;
    display: flex;

    & li {
        position: relative; 
        float: left;
        width: 10%;


        a {
            margin-left: 1em;;
        }
    }
}

.menu__nav {
    text-decoration: none;
    list-style: none;
    margin-left: 2em;
    width: 7em;
    height: 3em;
    background-color: $primarybackground;
    border-radius: 0.3em;
    
    a {
        text-decoration: none;
    }

    &--main {
        margin-top: 1.5em;
        color: white;
        vertical-align: middle;

    }
}

.menu__nav--scrolling {
    list-style-type: none;
    text-align: center;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;

    li {
        background-color: $primarybackground;
        float: none;
        text-align: left;
        width: 100%;
    }
    a {
        color: white;
        text-decoration: none;
    }
}

nav > li:hover .menu__nav--scrolling {
    display: block;
}

.border--top {
    height: 0.5em;
    width: 100%;
    background-color: white;
}

.menu__bottom {
    border-radius: 0 0 0.3em 0.3em;
}
/* Fin menu déroulant */

.content {
    display: flex;
    justify-content: space-between;
}
.content__vignettes {

    &--pictures {
        object-fit: cover;
        height: 18em;
        width: 25em;
        border-radius: 0.5em;
    }
}

/* Début reponsive */ 
@media screen and (max-width: 375px) {
    .content {
        flex-direction: column;
    }

    .photographers__button {
        position: fixed;
        z-index: 500;
        top: 30em;
        width: 50%;
        border-radius: 1em;
        left: 12%;
        
        &--submit {
            height: 2.5em;
        }
    }

    .photographers__details {

        &--name {
            font-size: 30px;
        }
    }

    .photographers__picture {
        width: 30%;

        &--size {
            height: 7em;
            width: 7em;
        }
    }
}